<!DOCTYPE html>
<html>
<body>
  <div>
    <h2>Upload</h2>   
    <table>
      <tr><td><span>{{alert}}</span></td></tr>
      <tr><td>File Path:</td></tr>
    <form action="" enctype='multipart/form-data' method='POST'>
      <tr><td><input type="file" name="file[]"  accept=".jpg,.jpeg,.png,.jfif,.HEIC,.mp4,.wmv,.flv,.mov,.avi" multiple></td>
      <tr><td>Choose Folder:
            <select id="folder" name=folder onchange="Choose(this.value)">
              {% for dir in dirs %}
                <option value={{dirs.index(dir)}}>{{dir}}</option>
              {% endfor %}
            </select>
      </td></tr>
      <tr><td><input type="hidden" id="foldername" name="foldername" value=""></td></tr>
      <tr><td><input type="submit" value="upload" name="upload"></td></tr>
    </form>
    </table>
  </div>
  <a href="../" class="active">首頁</a></li>
</body>


<script>
    function Choose(number){
        var choose=document.getElementById("folder").innerHTML;
        if(number==1)
        {
            document.getElementById("foldername").type="text";
        }
    }
</script>

</html>